@model IEnumerable<CCProblem3.Models.OrderModel>

@{
    ViewBag.Title = "Orders";
}

<h1>Orders</h1>
<p>
    @Html.ActionLink("Create New Order", "ViewSupplierStock", "Order")
</p>



<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductsSubtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VAT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.OrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductsSubtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VAT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("Remove Order", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
